<header class="header">
  <div class="container">                       
    <div class='row articles-header-row'>
      <div class = 'col-sm-9'>
        <div class="profile-content pull-left">
          <h1 id="blog-name"> <span id = 'coffee'>Coffee</span> <span id = 'and'> & </span> <span id='tags-blog-header'>&lt;tags<span id='forwardslash'>&#47;</span>&gt;</span> </h1>
        </div><!--//profile-->
      </div> <!-- end of column 5  -->
     <div class = 'col-sm-3'>
       <%= link_to welcome_path do %>
         <button class = 'btn btn-cta-primary pull-right'>
             <i class="fa fa-home"></i>Home
         </button>
       <%end%>
     </div>
    </div> <!-- end of row -->
  </div><!--//container-->
</header><!--//header-->

