<% @articles.each do |article| %>
        <div class="blog-post">
	            <h2 class="blog-post-title"><%= raw article.title %></h2>
	            <p class="blog-post-meta"><%= article.created_at.strftime("%b %d, %Y") %></p>
	            <p><%= raw article.text.truncate(200) %> <a><%= link_to 'Show More', article_path(article) %></a></p>
        </div><!-- /.blog-post -->
<% end %>