<div class = 'row text-center header-influitive'>
  <h1 id ='salutation'>
    <span id='hi-influitive'>Dear</span> <span id='influitive'> Influitive, </span> 
  </h1>
</div>

<div class ='influitive-content'>
  <p>My name is Eduardo Poleo and I am a chemical engineer who codes. I have been coding in Ruby/Rails for about a year now and I think I am ready to join your awesome development team to learn and expand my abilities. After going through some of your blog entries I was entirely convinced that I wanted to join your team because:</p>

  <div class="row" id='qualities-row'>
    <div class="col-xs-4 text-center">
      <h2 class = 'influitive-quality'><a class='influitive-link' href = 'http://influitive.com/blog/how-game-of-thrones-helped-us-take-over-marketo-summit/'>You're unconventional </i></a></h2>
      <a href = 'http://influitive.com/blog/how-game-of-thrones-helped-us-take-over-marketo-summit/'>
        <%= image_tag('unconventional.png', class: 'text-center circular-image') %>
      </a>
      <p class = 'quality-description'>By leveraging the current cultural context and taking an unconventional approach you outplay other rigid, ‘by the book’ corporations.</p>
    </div>

    <div class="col-xs-4 text-center">
      <h2 class = 'influitive-quality'> <a class='influitive-link' href='http://influitive.com/blog/5-things-programmer-developer-advocates-crave/'>You understand us</a></h2>
      <a href = 'http://influitive.com/blog/5-things-programmer-developer-advocates-crave/'>
        <%= image_tag('geek.png', class: 'text-center circular-image') %>
      </a>
      <p class = 'quality-description'>You show a deep understanding of developers craft and motivation. I wished other people in the past had understood this before deciding to approach me. </p>
    </div>

    <div class="col-xs-4 text-center">
      <h2 class = 'influitive-quality'> <a class = 'influitive-link' href = 'http://influitive.com/blog/study-advocate-marketing-helps-brands-get-17-5x-more-reviews-than-average/'>You innovate </a></h2>
      <a href = 'http://influitive.com/blog/study-advocate-marketing-helps-brands-get-17-5x-more-reviews-than-average/'>
        <%= image_tag('idea.png', class: 'text-center circular-image') %>
      </a>
      <p class = 'quality-description'> Your advocacy-driven approach to business growth allows for more unbiased, effective and trustful brand marketing. </p>
    </div>
  </div> 
  <h1 class = 'text-center' id='contribution-intro'>...and this is how I can contribute to the team</h1>
</div>

  <table class = "table text-center" id='influitive-table'  >
    <tr class = "odd-row-influitive" id='header-row-influitive'>
      <th class ="text-center" width="40">Skills</th>
      <th class ="text-center" width="60">Things I do</th>
    </tr>

    <tr class = "even-row-influitive" >
      <td>Ruby and RoR</td>
      <td>
        <ul>
          <li>Use rails to create <a href='/'>applications</a> with diverse level of complexity.</li>
          <li>Use ruby to solve <a href='/articles/26'>programming challenges</a>.</li>
        </ul>
      </td>
    </tr>

    <tr class = "odd-row-influitive">
      <td>Sidekiq and background processes</td>
      <td><a href='/articles/31'>Integrate Sidekiq/Redis</a> with third party services to avoid possible UX disruption.</td>
    </tr>

    <tr class = "even-row-influitive">
      <td>Amazon S3 and Carrierwave</td>
      <td><a href='/articles/40'>Integrated Carrierwave and Amazon S3</a> for image and file upload to the ‘cloud’.</td>
    </tr>

    <tr class = "odd-row-influitive">
      <td>TDD</td> 
      <td>
        <ul>
          <li>Used TDD to implement not trivial <a href= '/articles/28'>business work-flows</a>.</li>
          <li>Used TDD for the crafting of<a href='/articles/36'> complex ruby algorithms</a>.</li>
        </ul>
      </td> 
    </tr>

    <tr class = "even-row-influitive">
      <td>Passion</td>
      <td>
        <ul>
          <li>Keep a ‘hand made’ and up to date <a href='/articles'>blog</a> with entries of diverse technologies.</li>
          <li>Religiously join the <a href='/categories/11'>ruby hack-nights</a> and collaborate with ideas and create original solutions to the work-shop problems.</li>
          <li>Help fellow developers to the best of my abilities.</li>
        </ul>
      </td>
    </tr>
  </table>

<div class = 'sb-content'>
  <p>Lastly, I am committed to become the best developer I can be, and I am constantly learning and creating new things. I also believe in the work-hard/play-hard motto and I like to spend my free time running, playing board games (I own a collection of 17 different games) and watching movies. If you want to know more about me please make sure to check my <a class='influitive-link' href='/Resume.pdf'> resume </a> and my <a class='influitive-link' href='/'>portfolio site</a>. I hope to hear back from you soon.</p>

  <p>Eduardo Poleo</p>
</div>
