<div class = 'row text-center header-info-tech'>
  <h1 id ='salutation-info-tech'>
    <span id='hi-info-teck'>Dear</span> <span id='info-tech'> Info~Tech,</span> 
  </h1>
</div>

<div class ='info-tech-content'>
  <p> My name is Eduardo Poleo and I am a chemical engineer who codes. I have been coding in Ruby/Rails for about a year now and I think I am ready to join your awesome development team to learn and expand my abilities. After going through some of your case-studies I was entirely convinced that I wanted to join your team because: </p>
</div>

<div class="row" id='qualities-info-tech'>
  <div class="col-xs-4 text-center quality-box">
    <a class='full-box-link' href='http://d1prilht7d22jo.cloudfront.net/downloads/ITRG-MasterBrand-Cabinets-Case-Study.pdf'>
      <div class='inner-box-1'>
        <h4 class = 'info-tech-quality-name'>You know the tech market</h4>
        <hr class ='info-tech-divisor'>
        <p class = 'info-tech-quality'>You are constantly analyzing the pros and cons of different technologies and vendors in order to understand the different trade-offs implicated.</p>
      </div>
    </a>
  </div>

  <div class="col-xs-4 text-center quality-box">
    <a class='full-box-link' href='http://d1prilht7d22jo.cloudfront.net/downloads/ITRG-CCR-Case-Study.pdf'>
      <div class='inner-box-2'>
        <h4 class = 'info-tech-quality-name'>You care about your clients</h4>
        <hr class ='info-tech-divisor'>
        <p class = 'info-tech-quality'>You provide highly customized solutions and insights to your clients, and make sure to cover every possible angle involved in the challenge at hand.</p>
      </div>
    </a>
  </div>

  <div class="col-xs-4 text-center quality-box">
    <a href= 'http://d1prilht7d22jo.cloudfront.net/downloads/ITRG-Boston-Pizza-Case-Study.pdf' class='full-box-link'>
      <div class='inner-box-3'>
        <h4 class = 'info-tech-quality-name'> Your work matters</h4>
        <hr class ='info-tech-divisor'>
        <p class = 'info-tech-quality'>By helping and being recognized by high profile companies you ensure that your work is impactful and affects millions of people.</p>
      </div>
    </a>
  </div>
</div> 

<h1 class = 'text-center' id='contribution-intro'>...and this is how I can contribute to the team</h1>

<table class = "table text-center" id='info-tech-table'  >
  <tr class = "odd-row-info-tech text-center" id='header-row-info-tech'>
    <th class ="text-center" width="40">What you are looking for</th>
    <th class ="text-center" width="60">Things I do</th>
  </tr>

  <tr class = "even-row-info-tech" >
    <td>Some exposure working with Ruby on Rails.</td>
    <td>
      <ul>
        <li>Use rails to create <a class = 'info-tech-link' href='/'>applications</a> with diverse level of complexity.</li>
        <li>Use <a class = 'info-tech-link' href = '/articles/24'>TDD</a> and best practices to develop production quality applications.</li>
      </ul>
    </td>
  </tr>

  <tr class = "odd-row-info-tech">
    <td>Solid understanding of web technologies, relational databases (we use MySQL), and object oriented design.</td>
    <td>
      <ul>
        <li>Create information systems that employ non-trivial <a class = 'info-tech-link' href='/articles/28'>business workflows</a> and <a class ='info-tech-link' href='/articles/15'>model associations</a>.</li>
        <li>Craft <a href='/articles/36' class='info-tech-link'>ruby algorithms</a> employing object oriented patterns and different data structures.</li>
      </ul>
    
    </td>
  </tr>

  <tr class = "even-row-info-tech">
    <td>Experience with Ajax based user interfaces.</td>
    <td>Enhance user experience by implementing <a class='info-tech-link' href = '/articles/16'>asynchronous server responses</a>.</td>
  </tr>

  <tr class = "odd-row-info-tech">
    <td>Comfortable working with HTML5, CSS3, SCSS, CoffeeScript, JavaScript, jQuery.</td> 
    <td>
      <ul>
        <li>Create intuitive web layouts to communicate ideas and content effectively.</li>
        <li>Use different <a class = 'info-tech-link' href = '/articles/16'>JQuery use cases and libraries </a> to enhance site interactivity.</li>
      </ul>
    </td> 
  </tr>

  <tr class = "even-row-info-tech">
    <td>
      <ul>
        <li>Have great work ethics and attention to detail.</li>
        <li>Have great analytical skills and communicate well.</li>
      </ul>
    </td>
    <td>
      Published two journal papers that required thorough calculations and sharp analysis of large amount of data:
      <ul>
        <li><a class ='info-tech-link' href='http://sciencedirect.com/science/article/pii/S0304389413002161'> J. Hazard. Mater., 254-255: 206-213 (2013)</a></li>
        <li> <a class = 'info-tech-link' href='http://onlinelibrary.wiley.com/doi/10.1002/jctb.4116/abstract'> J. Chem. Technol. Biotechnol., 89: 88-96 (2014)</a></li>
      </ul>
    </td>
  </tr>
</table>

<div class = 'info-tech-content'>
  <p>Lastly, I am really passionate for what I do. I keep a ‘hand made’ and up to date <a class = 'info-tech-link' href = '/articles'>blog</a> where I write about ruby and web development . I also religiously join the <a class ='info-tech-link' href='http://www.meetup.com/torontoruby/'>ruby hack-nights</a> to collaborate and provide <a class = 'info-tech-link' href='/categories/11'>original solutions</a> to coding challenges. If you want to know more about me or my work please make sure to check my <a class='info-tech-link' href= 'Resume.pdf'>resume</a>, <a class ='info-tech-link' href='https://github.com/eduardopoleo'>github profile</a> and my <a class= 'info-tech-link' href ='/'>portfolio site</a>. I hope to hear back from you soon.</p>

  <p id='eduardo-poleo'>Eduardo Poleo</p>
</div>
