<div class = 'row text-center'>
  <h1>
    <span id='hi-sb'>Hi,</span> <%=image_tag("stack_builder.png")%> 
  </h1>
</div>

<div class ='sb-content'>
  <p>My name is Eduardo Poleo and I am chemical engineer who codes. I have been working with ruby/rails for about a year now and I want to join your great development team. I really appreciate how you leverage team <a class = 'sb-link' href="http://www.stackbuilders.com/news/i-m-making-a-list-and-checking-it-twice" target="_blank">organization</a> and <a class = 'sb-link' href='http://www.stackbuilders.com/news/software-development-runs-on-trust'> trust</a>, and I am thrilled with the possibility of adding functional programming to my arsenal, given its <a class='sb-link' href = 'http://www.stackbuilders.com/news/can-haskell-power-the-next-ruby-on-rails'>continuous rise</a> on the web scenario. </p>

  <p>The table below contains urls to code samples I have written. Sample A corresponds to my solution to an exercise presented in one of the <a class ='sb-link' href ='http://www.meetup.com/torontoruby/events/219693482/'>ruby hack-nights</a> hosted here in Toronto. Sample B is a wrapper I coded for an <a class ='sb-link' href = "http://firecamp.herokuapp.com/">e-commerce application</a>.</p>
</div>

  <table class = "table text-center" id='sb-table'  >
    <tr class = "odd-row-sb" id='header-row-sb'>
      <th class ="text-center" width="10"></th>
      <th class ="text-center" width="40">Code Sample A: String-kata</th>
      <th class ="text-center" width="40">Code Sample B: Stripe Wrapper</th>
    </tr>

    <tr class = "even-row-sb" >
      <td> Relevant Technology </td>
      <td> Ruby/Rspec </td>
      <td> Rails/Rspec </td>
    </tr>

    <tr class = "odd-row-sb">
      <td>Description</td>
      <td>A calculator program that takes a string as input. The challenge of the problem relied on the irregularity of the string, which gradually increased with every requirement.</td>
      <td>Fully tested api wrapper for the integration of Stripe payment handling into a RoR application.</td>
    </tr>

    <tr class = "even-row-sb">
      <td>Relevant links</td>
      <td>
     <ul class = 'list-sb'>
       <li> <a class='sb-link-inside-table' href = 'https://github.com/eduardopoleo/string-kata/blob/master/lib/string_calculator.rb'>Working code </a> </li>
       <li> <a class='sb-link-inside-table' href = 'https://github.com/eduardopoleo/string-kata/blob/master/spec/string_calculator_spec.rb'>Test Suite</a></li>
       <li> <a class='sb-link-inside-table' href = 'http://www.epoleo.me/articles/26'>Blog post </a></li>
     </ul> 
      </td>
      <td>
      <ul class = 'list-sb'>
       <li> <a class = 'sb-link-inside-table' href = 'https://github.com/eduardopoleo/firecamp/blob/master/app/models/stripe_wrapper.rb'>Working code </a> </li>
       <li> <a class = 'sb-link-inside-table' href = 'https://github.com/eduardopoleo/firecamp/blob/master/spec/models/stripe_wrapper_spec.rb'>Test Suite</a></li>
       <li> <a class = 'sb-link-inside-table' href = 'http://www.epoleo.me/articles/33'>Blog post </a></li>
     </ul>
      </td>
    </tr>
  </table>

<div class = 'sb-content'>
  <p>Lastly I am currently located in Toronto, Canada and I speak Spanish fluently being born and raised in Venezuela. If you want to know more about me please make sure to check my <a class = 'sb-link' href ='/Resume.pdf'>resume</a> and my <a class = 'sb-link' href = '/'> portfolio</a> page.  Thank you very much for your time and I hope to hear back from you soon.</p>

  <p>Eduardo Poleo</p>
</div>
