<div class = 'row text-center' id = "score_header">
  <h1 id="thescore">
    <span id='hi'>Hey</span> <span id="the">the</span><span id="score">Score,</span>
  </h1>

  <h3 id = 'my-intro'>
    My name is <span id='eduardo'>Eduardo </span> and I want to join your A-team! 
  </h3>
</div>
<div class ='score-content'>
    <p>I am a chemical engineer who codes. I have been coding in Ruby/Rails for about a year now and I think I'm ready to join your awesome development team to learn and expand my abilities. I have not doubt that the Score is the place I want to be because:</p>

  <ul>
    <li> Your app rocks and I use it all the time to follow  my favorite “La Liga” teams.  </li>
    <li> You have great developers that are constantly solving <a class = "score-link" href="http://techblog.thescore.com/analyzing-s3-and-cloudfront-access-logs-with-redshift/" target="_blank">challenging problems</a> while giving back to the community.  </li>
    <li>You understand the importance of <a class = 'score-link' href="http://techblog.thescore.com/2014/10/22/succeeding-as-a-developer" target="_blank">camaraderie and communication</a> for the growth of developers.</li>
  </ul>

  <p>I understand that you can only welcome top quality talent to your team. I firmly believe that with my recent efforts and current tool-set I am off to a good start:</p>
</div>

  <table class = "table text-center" id='score-table'  >
    <tr class = "odd-row" id='header-row'>
      <th class ="text-center" width="50">Your standards</th>
      <th class ="text-center" width="50">Things I do</th>
    </tr>

    <tr class = "even-row" >
      <td>Experience with Ruby/Rails</td>
      <td>
        <ul>
          <li> Understand and create <a class = "score-link" href="http://www.epoleo.me/articles/26" target="_blank">ruby algorithms</a> </li>
          <li> Develop non-trivial <a class="score-link" href="http://www.epoleo.me/articles/28" target="_blank">rails work-flows</a></li>
    </td>
    </tr>

    <tr class = "odd-row">
      <td>Test Driven Development (TDD, RSpec, etc)</td>
      <td>Develop comprehensive test suites with ample coverage including <a class='score-link' href='https://github.com/eduardopoleo/firecamp/blob/master/spec/features/admin_creates_group_and_invites_spec.rb'>Capybara feature tests</a></td>
    </tr>

    <tr class = "even-row">
      <td>Queues and background processing</td>
      <td> <a class = "score-link" href="http://www.epoleo.me/articles/31"  target="_blank">Integrate background processes</a> (sidekiq/redis) with external services to avoid possible UX disruption</td>
    </tr>

    <tr class = "odd-row">
      <td>Experience with Git</td>
      <td>Seamlessly use <a class = "score-link" href="https://github.com/eduardopoleo" target="_blank">git & github</a> for all different types of collaboration work-flows</td>
    </tr>

    <tr class = "even-row">
      <td>Experience with AWS</td>
      <td>Integrate <a class="score-link" href="http://www.epoleo.me/articles/40" target="_blank">Amazon S3</a> to rails app for files and images upload</td>
    </tr>
  </table>

  <div class = 'score-content'>
    <p>Finally I want to thank you for putting the ruby hack-nights together. They have been an invaluable <a class='score-link' href= 'http://www.epoleo.me/categories/11'> source of knowledge </a> and support for me and I really appreciate your efforts. If you want to know more about me please make sure to check my <a class = 'score-link' href="Resume.pdf" target="_blank">resume</a> or my <a class='score-link' href ='http://www.epoleo.me/'>portfolio site</a>. Hope to hear from you soon.</p>
  </div>

  <div class = 'score-content'>
    <span>Eduardo</span>
  </div>
