<section class="about section">
  <div class="section-inner">
    <h2 class="heading">Selected Code Samples & Posts</h2>
    <div class="content">
      <p>I am a chemical engineer who codes. I have experience with Matlab and Python but lately I have been focusing on ruby and RoR.</p>    
      <p>
        Please make sure to check my 
        <%=link_to articles_path() do %>
          <i class="fa fa-pencil"></i> Blog
        <%end%>
        and my 
        <%=link_to "/Resume.pdf" do %>
          <i class="fa fa-file-pdf-o"></i> Resume
        <%end%>
        if you want know more about me. If you are a fellow developer and want to quickly assess my abilities please check the selected code samples and articles below.
      </p>
       <table id='code-samples-table'>
          <thead>
            <tr >
              <th width='50%'>Ruby + TDD + OOP</th>
              <th width='50%'>Rails + TDD</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>
                <ul class='code-samples' >
                  <li>
                    String-Kata
                    <a href="http://eduardo-blog.herokuapp.com/articles/26" target="_blank">(Post)</a>  
                    <a href="https://github.com/eduardopoleo/string-kata/blob/master/lib/string_calculator.rb" target="_blank">(Repo)</a>
                  </li>
                  <li>
                    Bowling-Kata
                    <a href="http://eduardo-blog.herokuapp.com/articles/36" target="_blank">(Post)</a>  
                    <a href="https://github.com/eduardopoleo/bowling-game-kata" target="_blank">(Repo)</a>
                  </li>
                </ul>
              </td>

              <td>
                <ul class='code-samples' >
                  <li>
                    Forgot Password?
                    <a href="http://eduardo-blog.herokuapp.com/articles/28" target="_blank">(Post)</a> 
                    <a href="https://github.com/eduardopoleo/myflix/blob/master/app/controllers/forgot_passwords_controller.rb" target="_blank">(Repo) </a>
                  </li>
                  <li>
                    TDD on Rails
                    <a href="http://eduardo-blog.herokuapp.com/articles/24" target="_blank">(Post)</a> 
                  </li>
                </ul>
              </td>
            </tr>
            <tr >
              <th>JQuery/Ajax</th>
              <th>Service Integration</th>
            </tr>

            <tr>
              <td>
                <ul class='code-samples' >
                  <li>
                    Enhanced UI with JQuery
                    <a href="http://eduardo-blog.herokuapp.com/articles/16" target="_blank">(Post)</a>
                    <a href="https://github.com/eduardopoleo/to_do_app/blob/master/app/controllers/tasks_controller.rb" target="_blank">(Repo)</a> 
                  </li>
                </ul>
              </td>

              <td>
                <ul class='code-samples' >
                  <li>
                    Stripe API
                    <a href="http://eduardo-blog.herokuapp.com/articles/33" target="_blank">(Post)</a> <br/>
                  </li>
                  <li>
                    Mailgun + Sidekiq
                    <a href="http://eduardo-blog.herokuapp.com/articles/31" target="_blank">(Post)</a> <br/>
                  </li>
                  <li>
                    Carrierwave + Amazon S3
                    <a href="http://eduardo-blog.herokuapp.com/articles/40" target="_blank">(Post)</a> <br/>
                  </li>
                </ul>
              </td>
            </tr>
          </tbody>
        </table>
    </div><!--//content-->
  </div><!--//section-inner-->                 
</section><!--//section-->

