<section class="about section">
  <div class="section-inner">
    <h2 class="heading">Selected Code Samples & Posts</h2>
    <div class="content">
      <p>I am a aspiring web developmer who enjoys creating applications other people can see, use, share and modify. I am experienced in Ruby, RoR, Matlab and Python and I am currently looking for a motivating and challenging Jr. Dev position in Toronto.</p>    
       <table id='code-samples-table'>
          <thead>
            <tr >
              <th width='50%'>Ruby + TDD</th>
              <th width='50%'>Rails + TDD</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>
                <ul class='code-samples' >
                  <li>
                    <a href="http://www.url.com" target="_blank">String-Kata Repo</a>
                  </li>
                  <li>
                    <a href="http://eduardo-blog.herokuapp.com/articles/26" target="_blank">String-Kata Blog Post</a> 
                  </li>
                </ul>
              </td>

              <td>
                <ul class='code-samples' >
                  <li>
                    <a href="http://www.url.com" target="_blank">String-Kata Repo</a>
                  </li>
                  <li>
                    <a href="http://eduardo-blog.herokuapp.com/articles/26" target="_blank">String-Kata Blog Post</a> 
                  </li>
                </ul>
              </td>
            </tr>
            <tr >
              <th>Github</th>
              <th>Vim</th>
            </tr>
          </tbody>
        </table>
    </div><!--//content-->
  </div><!--//section-inner-->                 
</section><!--//section-->

