<section class="about section">
  <div class="section-inner">
    <h2 class="heading">Selected Code Samples & Posts</h2>
    <div class="content">
      <p>I am a chemical engineer who codes. I have previous experience with Matlab and Python but lately I have been working on ruby and RoR. </p>    
      <p>
        Please make sure to browse through this page and my 
        <%=link_to articles_path() do %>
          <i class="fa fa-pencil"></i> blog
        <%end%>
        if you want know more about me. If you are a fellow developer and want to quickly assess my abilities please check the selected code and sample articles below.
      </p>
       <table id='code-samples-table'>
          <thead>
            <tr >
              <th width='50%'>Ruby + TDD</th>
              <th width='50%'>Rails + TDD</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>
                <ul class='code-samples' >
                  <li>
                    String-Kata
                    <a href="http://eduardo-blog.herokuapp.com/articles/26" target="_blank">(Article)</a>  
                    <a href="https://github.com/eduardopoleo/string-kata/blob/master/lib/string_calculator.rb" target="_blank">(Repo)</a>
                  </li>
                  <li>
                  </li>
                </ul>
              </td>

              <td>
                <ul class='code-samples' >
                  <li>
                    Forgot Password?
                    <a href="http://eduardo-blog.herokuapp.com/articles/28" target="_blank">(Article)</a> 
                    <a href="https://github.com/eduardopoleo/myflix/blob/master/app/controllers/forgot_passwords_controller.rb" target="_blank">(Repo) </a>
                  </li>
                  <li>
                  </li>
                </ul>
              </td>
            </tr>
            <tr >
              <th>JQuery/Ajax</th>
              <th>Service Integration</th>
            </tr>

            <tr>
              <td>
                <ul class='code-samples' >
                  <li>
                    Enhanced UI with JQuery
                    <a href="http://eduardo-blog.herokuapp.com/articles/16" target="_blank">(Article)</a>
                    <a href="https://github.com/eduardopoleo/to_do_app/blob/master/app/controllers/tasks_controller.rb" target="_blank">(Repo)</a> 
                  </li>
                </ul>
              </td>

              <td>
                <ul class='code-samples' >
                  <li>
                    Background Jobs
                    <a href="http://eduardo-blog.herokuapp.com/articles/31" target="_blank">(Article)</a> <br/>
                    <a href="https://github.com/eduardopoleo/myflix/blob/085ef7570fe75fd3c6c1f09ef035e43613157d71/config/unicorn.rb" target="_blank">(Repo)</a> <br/>
                    Payment with Stripe
                    <a href="http://eduardo-blog.herokuapp.com/articles/33" target="_blank">(Article)</a> <br/>
                    <a href="https://github.com/eduardopoleo/myflix/blob/ac67f97feb742ceafced94149b0e61b9893712e4/app/models/stripe_wrapper.rb" target="_blank">(Repo)</a> <br/>

                  </li>
                </ul>
              </td>
            </tr>

            <tr >
              <th>Productivity</th>
            </tr>
            <tr>
              <td>
                <ul class='code-samples' >
                  <li>
                    Vim
                    <a href="http://eduardo-blog.herokuapp.com/articles/29" target="_blank">(Article)</a> <br/>
                    
                    Tmux
                    <a href="http://eduardo-blog.herokuapp.com/articles/30" target="_blank">(Article)</a>
                  </li>
                </ul>
              </td>
            </tr>
          </tbody>
        </table>
    </div><!--//content-->
  </div><!--//section-inner-->                 
</section><!--//section-->

