<aside class="education aside section">
  <div class="section-inner">
    <h2 class="heading">Education</h2>
    <div class="content">
      <div class="item">                      
        <h3 class="title"><i class="fa fa-graduation-cap"></i> MSc Chemcal Engineering </h3>
        <h4 class="university">Queen's University <span class="year">(2011-2013)</span></h4>
        <small class = "location">
         Kingston, Ontario, Canada 
        </small>
      </div><!--//item-->
      <div class="item">
        <h3 class="title"><i class="fa fa-graduation-cap"></i> BSc Chemical Engineering</h3>
        <h4 class="university">Universidad Simon Bolivar<span class="year">(2004-2010)</span></h4>
        <small class ="location">
         Caracas, Venezuela 
        </small>
      </div><!--//item-->
    </div><!--//content-->
  </div><!--//section-inner-->
</aside><!--//section-->
