<header class="header">
  <div class="container">                       
    <div class='row'>
      <div class = 'col-sm-5'>
        <div class="profile-content pull-left">
          <h1 class="name">Eduardo Poleo</h1>
          <h2 class="desc">Web Developer & Engineer</h2>   
          <ul class="social list-inline">
            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
            <li><a href="#"><i class="fa fa-github-alt"></i></a></li>                  
          </ul> 
        </div><!--//profile-->
      </div> <!-- end of column 5  -->

      <div class = 'col-sm-4'>
        <h2 class="heading sr-only">Basic Information</h2>
        <div class="content">
          <ul class="personal-info">
            <li><i class="fa fa-map-marker"></i> <span class="sr-only"> Location:</span>Toronto, Ontario, Canada</li>
            <li><i class="fa fa-envelope-o"></i > <span class="sr-only"> Email:</span><a href="#">eduardopoleo@gmail.com</a></li>
            <li><i class="fa fa-link"></i > <span class="sr-only"> Website:</span><a href="#">http://www.website.com</a></li>
          </ul>
        </div><!--//content-->  
      </div> <!-- end of column -->
      <div class = 'col-sm-3'>
        <a class="btn btn-cta-primary pull-right" href="http://themes.3rdwavemedia.com/" target="_blank"><i class="fa fa-pencil"></i>Blog</a>              
     </div>
   </div> <!-- end of row -->
 </div><!--//container-->
</header><!--//header-->

