<aside class="list music aside section">
  <div class="section-inner">
    <h2 class="heading">Hobbies</h2>
    <div class="content">
      <ul class="list-unstyled">
        <li><i class="fa fa-pencil"></i> Blogging</li>
        <li><i class="fa fa-heart"></i> Calisthenics</li>
        <li><i class="fa fa-gamepad"></i> Board/Video Games</li>
        <li><i class="fa fa-file-video-o"></i> Movies</li>
      </ul>
    </div><!--//content-->
  </div><!--//section-inner-->
</aside><!--//section-->
