 <section class="experience section">
  <div class="section-inner">
    <h2 class="heading">Research & Engineering Projects </h2>
    <div class="content">
      <div class="item">
        <h3 class="title">Master Thesis. <span class="place"><a href="http://www.chemeng.queensu.ca/">Queen's University, Kingston, Ontario</a></span> <span class="year">(2011 - 2013)</span></h3>
        <h4 class='research-project-title'>Bio-remediation of mixtures of toxic and volatile contaminants in water by partitioning bio-reactors.</h4>
        <ul>
          <li>Developed a polymer-based technology that improved the degradation rate of contaminants in water by 98% compared to other conventional treatment strategies.</li>
          <li>Pioneered the first rational and systematic approach for selecting high-performing polymers for the degradation of contaminants in water.</li>
        </ul>
        <p> <strong>TRANSFERABLE SKILLS:</strong> Critical Thinking | Research and Development | Technical Writing.</p>  
      </div><!--//item-->

      <div class="item">
        <h3 class="title">Bachelor Thesis. <span class="place"><a href="http://web.abo.fi/fak/tkf/tek/kincat.html">Åbo Akademi, Åbo, Finland</a></span> <span class="year">(Jan - Jun 2009)</span></h3>
        <h4 class='research-project-title'>Kinetic Analysis and Modeling of the Ring Opening Reaction of Decalin over a Pt-modified Zeolite Catalyst.</h4>
        <ul>
          <li>Designed a statistically sound kinetic model for the aforementioned reaction that increased complexity and accuracy over previous models by 57 %.</li>
        </ul>
        <p> <strong>TRANSFERABLE SKILLS:</strong> Information Search and Filtering | Data analysis | Iterative Development.</p>  
      </div><!--//item-->
    </div><!--//content-->  
  </div><!--//section-inner-->                 
</section><!--//section-->


