 <section class="projects section">
  <div class="section-inner">
    <h2 class="heading">Research & Engineering Projects </h2>
    <div class="content">

      <div class="item">
        <h3 class="title"><a href="#">Bio-remediation of mixtures of toxic and volatile contantinants in water by partitioning bio-reactors.</a></h3>
        <p class="summary">Developed a novel polymer-based technology that improved the degradation rate of contaminants in water by 98% compared to other conventional treatment strategies. This required the design and result analysis of approximately 95 experiments.</p>
        <p>The findings of this project resulted in two original scientific publications:</p>
        <ul>
          <li>J. Hazard. Mater., 254-255: 206-213 (2013)</li>
          <li>J. Chem. Technol. Biotechnol., 89: 88-96 (2014)</li>
        </ul>
        <p> <strong> TRANSFERABLE SKILLS: </strong> Critical Thinking | Research and Developlment | Technical Writting | Systematic Troubleshooting | Time management | </p>  
      </div><!--//item-->

      <div class="item">
        <h3 class="title"><a href="#">Kinetic Analysis and Modeling of the Ring Opening Reaction of Decalin over a Pt-modified Zeolite Catalyst.</a></h3>
        <p class="summary"> Designed a statistically sound kinetic model for the aforementioned reaction that increased complexity and accuracy over previous models by 57 %. This contributed to a major diesel-fuel quality improvement project.</p>
        <p> <strong> TRANSFERABLE SKILLS: </strong> Critical Thinking | Research and Developlment | Technical Writting | Systematic Troubleshooting | Time management | </p>  
      </div><!--//item-->
    </div><!--//content-->  
  </div><!--//section-inner-->                 
</section><!--//section-->


