<aside class="skills aside section">
  <div class="section-inner">
    <h2 class="heading">Skills</h2>
    <div class="content">
    <p class="intro">My skill set includes experiences from Web Development to Research & Development in the environmental engineering sector.</p>
      <div class="skillset">
        <div class="item">
          <h3 class="level-title">Ruby &amp; RoR</h3>
          <div class="progress">
            <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 50%;">
              Intermediate
            </div>
          </div>
        </div><!--//item-->
        <div class="item">
          <h3 class="level-title">TDD</h3>

          <div class="progress">
            <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 50%;">
              Intermediate
            </div>
          </div>
        </div><!--//item-->

      <div class="item">
          <h3 class="level-title">HTML&CSS</h3>
          <div class="progress">
            <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 45%;">
              Intermediate
            </div>
          </div>
        </div><!--//item-->

      <div class="item">
          <h3 class="level-title">JQuery/Ajax</h3>
          <div class="progress">
            <div class="progress-bar progress-bar-danger" role="progressbar " aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 25%;">
              Basic
            </div>
          </div>
        </div><!--//item-->

      <div class="item">
          <h3 class="level-title">R&D</h3>
          <div class="progress">
            <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 80%;">
              Proficient
            </div>
          </div>
        </div><!--//item-->
      </div> <!-- //skillset -->              
    </div><!--//content-->  
  </div><!--//section-inner-->                 
</aside><!--//section-->
