<section class="latest section">
  <div class="section-inner">
    <h2 class="heading">Web Projects</h2>
    <div class="content">    

      <div class="item row">
        <a class="col-md-4 col-sm-4 col-xs-12" href="https://eduardo-myflix.herokuapp.com/" target="_blank">
          <img class="img-responsive project-image" src="myflix.png" alt="project name"/>
        </a>
        <div class="desc col-md-8 col-sm-8 col-xs-12">
          <h3 class="title"><a href="https://eduardo-myflix.herokuapp.com/" target="_blank">Myflix (work in progress)</a></h3>
          <p>Myflix is a non-trivial e-commerce application, a clone of  Netflix. It allows users to watch videos on demand, queue videos and follow other users activity.</p>
          <p>Relevant technical features:</p>
          <ul class='project-features'>
            <li> <strong>TDD</strong> with over 150 test cases using <strong>Rspec/Capybara.</strong></li>
            <li>Random-tokens and Mailers.</li>
            <li><strong>Background jobs</strong> with <strong>Sidekiq.</strong></li>
            <li>Deployment with <strong>Unicorn</strong> server.</li>
            <li>Social networking features.</li>
          </ul>

          <ul class = 'project-links'>
            <li>
              <a class="more-link" href="https://github.com/eduardopoleo/myflix" target="_blank"><i class="fa fa-external-link"></i>Visit Repo</a> 
            </li>
          </ul>
        </div><!--//desc-->                          
      </div><!--//item-->

      <div class="item row">
        <a class="col-md-4 col-sm-4 col-xs-12" href="https://eduardo-check-it.herokuapp.com/" target="_blank">
          <img class="img-responsive project-image" src="checkit.png" alt="project name" />
        </a>
        <div class="desc col-md-8 col-sm-8 col-xs-12">
          <h3 class="title"><a href="https://eduardo-check-it.herokuapp.com/" target="_blank">Check-it</a></h3>
          <p>Check-it is a todo application where you can store your projects and tasks. It provides a nice UI where you can easily manage tasks and keep track of your progress.</p>
          <p>Relevant technical features: </p>
          <ul class='project-features'>
            <li>Dynamic UI with <strong>JQuery/Ajax/JqueryUI</strong>.</li>
            <li>Fully <strong>responsive</strong> display (<strong>Bootstrap 3</strong>).</li>
            <li>User authentication from scratch.</li>
          </ul>
         <ul class = 'project-links'>
            <li>
              <a class="more-link" href="https://github.com/eduardopoleo/to_do_app" target="_blank"><i class="fa fa-external-link"></i>Visit Repo</a> 
            </li>
            <li>
              <a class="more-link" href="https://eduardo-check-it.herokuapp.com/" target="_blank"><i class="fa fa-external-link"></i>Visit App</a>
            </li>
          </ul>
        </div><!--//desc-->                          
      </div><!--//item-->

      <div class="item row">
        <a class="col-md-4 col-sm-4 col-xs-12" href="https://qoverflow.herokuapp.com/signin" target="_blank">
          <img class="img-responsive project-image" src="qoverflow.png" alt="project name" />
        </a>
        <div class="desc col-md-8 col-sm-8 col-xs-12">
          <h3 class="title"><a href="https://qoverflow.herokuapp.com/signin" target="_blank">Qoverflow</a></h3>
          <p>Qoverflow is a micro clone of the popular Q&A site Quora. Users can post questions and answers, upvote and downvote elements. </p>
          <p> Relevant technical Features:</p>
          <ul class='project-features'>
            <li> <strong>TDD</strong> with over 70 test cases using <strong>Rspec/Capybara</strong>.</li>
            <li>Polymorphic model association.</li>
            <li>User authentication from scratch.</li>
          </ul>
          <ul class = 'project-links'>
            <li>
              <a class="more-link" href="https://github.com/eduardopoleo/QOverflow" target="_blank"><i class="fa fa-external-link"></i>Visit Repo</a> 
            </li>
            <li>
              <a class="more-link" href="https://qoverflow.herokuapp.com/signin/" target="_blank"><i class="fa fa-external-link"></i>Visit App</a>
            </li>
          </ul>
        </div><!--//desc-->                          
      </div><!--//item-->

      <!-- <div class="item row"> -->
      <!--   <a class="col&#45;md&#45;4 col&#45;sm&#45;4 col&#45;xs&#45;12" href="#" target="_blank"> -->
      <!--     <img class="img&#45;responsive project&#45;image" src="bazaar.png" alt="project name" /> -->
      <!--   </a> -->
      <!--   <div class="desc col&#45;md&#45;8 col&#45;sm&#45;8 col&#45;xs&#45;12"> -->
      <!--     <h3 class="title"><a href="#" target="_blank">Bazaar (Work in Progress)</a></h3> -->
      <!--       <p>Bazaar is a convenient market place to sell, trade and publicize mobile phones. Users can sign in to post ads or simply look around the offering.</p> -->
      <!--       <p> Relevant technical features:</p> -->
      <!--     <ul class='project&#45;features'> -->
      <!--       <li> <strong>Agile</strong> development with <strong>Scrum</strong> and <strong>Github work&#45;flow</strong>.</li> -->
      <!--       <li>User authentication with <strong>Devise</strong>.</li> -->
      <!--       <li><strong>Responsive</strong> layout (Bootstrap 3).</li> -->
      <!--     </ul> -->
      <!--     <ul class = 'project&#45;links'> -->
      <!--       <li> -->
      <!--         <a class="more&#45;link" href="https://github.com/eduardopoleo/bazaar" target="_blank"><i class="fa fa&#45;external&#45;link"></i>Visit Repo</a>  -->
      <!--       </li> -->
      <!--     </ul> -->
      <!--   </div><!&#45;&#45;//desc&#45;&#45;>                           -->
      <!-- </div><!&#45;&#45;//item&#45;&#45;> -->

      <div class="item row">
        <a class="col-md-4 col-sm-4 col-xs-12" href="http://eduardo-postit.herokuapp.com/" target="_blank">
          <img class="img-responsive project-image" src="postit.png" alt="project name" />
        </a>
        <div class="desc col-md-8 col-sm-8 col-xs-12">
          <h3 class="title"><a href="http://eduardo-postit.herokuapp.com/" target="_blank">Post It</a></h3>
            <p>Post-it allows users share ideas and news by posting links on the main forum. Posts can be categorized and users can upvote or downvote elements.</p>
          <p>Relevant technical Features:</p>
          <ul class='project-features'>
            <li>Dynamic UI with <strong>JQuery/AJAX</strong></li>
            <li>Polymorphic associations</li>
            <li>Basic roles</li>
          </ul>
          <ul class = 'project-links'>
            <li>
              <a class="more-link" href="https://github.com/eduardopoleo/post-it" target="_blank"><i class="fa fa-external-link"></i>Visit Repo</a> 
            </li>
            <li>
              <a class="more-link" href="http://eduardo-postit.herokuapp.com/" target="_blank"><i class="fa fa-external-link"></i>Visit App</a>
            </li>
          </ul>
        </div><!--//desc-->                          
      </div><!--//item-->

      <div class="item row">
        <a class="col-md-4 col-sm-4 col-xs-12" href="http://eduardo-blackjack.herokuapp.com/game" target="_blank">
          <img class="img-responsive project-image" src="blackjack.png" alt="project name" />
        </a>
        <div class="desc col-md-8 col-sm-8 col-xs-12">
          <h3 class="title"><a href="http://eduardo-blackjack.herokuapp.com/game" target="_blank">Blackjack</a></h3>
            <p>Blackjack is an interactive web-based application. Users can bet and try to beat the "house".</p>
          <p> Relevant technical Features:</p>
          <ul class='project-features'>
            <li><strong>Sinatra</strong> development</li>
            <li>Dynamic UI <strong>JQuery/AJAX</strong></li>
            <li><strong>Bootstrap 3</strong></li>
          </ul>

          <ul class = 'project-links'>
            <li>
              <a class="more-link" href="https://github.com/eduardopoleo/blackjack-sinatra" target="_blank"><i class="fa fa-external-link"></i>Visit Repo</a> 
            </li>
            <li>
              <a class="more-link" href="http://eduardo-blackjack.herokuapp.com/game" target="_blank"><i class="fa fa-external-link"></i>Visit App</a>
            </li>
          </ul>
        </div><!--//desc-->                          
      </div><!--//item-->
    </div><!--//content-->  
  </div><!--//section-inner-->                 
</section><!--//section-->
