<section class="latest section">
  <div class="section-inner">
    <h2 class="heading">Web Projects</h2>
    <div class="content">    

      <div class="item row">
        <a class="col-md-4 col-sm-4 col-xs-12" href="https://eduardo-myflix.herokuapp.com/" target="_blank">
          <img class="img-responsive project-image" src="myflix.png" alt="project name"/>
        </a>
        <div class="desc col-md-8 col-sm-8 col-xs-12">
          <h3 class="title"><a href="https://eduardo-myflix.herokuapp.com/" target="_blank">Myflix</a></h3>
          <p>Myflix is a non-trivial ecommerce application, a clone of  Netflix. It allows users to watch videos on demand, queue videos and follow other users activity.</p>
          <p>Technical features: TDD with over 200 test cases using Rspec + Capybara, social networking, random-tokens and mailers, full fledged user authentication from scratch, others.</p>

          <ul class = 'project-links'>
            <li>
              <a class="more-link" href="http://eduardo-postit.herokuapp.com/" target="_blank"><i class="fa fa-external-link"></i>Visit Repo</a> 
            </li>
            <li>
              <a class="more-link" href="http://eduardo-postit.herokuapp.com/" target="_blank"><i class="fa fa-external-link"></i>Visit App</a>
            </li>
          </ul>
        </div><!--//desc-->                          
      </div><!--//item-->

      <div class="item row">
        <a class="col-md-4 col-sm-4 col-xs-12" href="https://eduardo-check-it.herokuapp.com/" target="_blank">
          <img class="img-responsive project-image" src="checkit.png" alt="project name" />
        </a>
        <div class="desc col-md-8 col-sm-8 col-xs-12">
          <h3 class="title"><a href="https://eduardo-check-it.herokuapp.com/" target="_blank">Check-it</a></h3>
          <p>Check is a todo application that helps keep track of projects and tasks. It also provides an interactive progress bar that tracks down progress as tasks are completed.</p>
          <p>Technical features: Interactive UI elements (Ajax, JQuery), fully responsive display, simple user authentication, restful implementation, others. </p>
         <ul class = 'project-links'>
            <li>
              <a class="more-link" href="http://eduardo-postit.herokuapp.com/" target="_blank"><i class="fa fa-external-link"></i>Visit Repo</a> 
            </li>
            <li>
              <a class="more-link" href="http://eduardo-postit.herokuapp.com/" target="_blank"><i class="fa fa-external-link"></i>Visit App</a>
            </li>
          </ul>
        </div><!--//desc-->                          
      </div><!--//item-->

      <div class="item row">
        <a class="col-md-4 col-sm-4 col-xs-12" href="https://qoverflow.herokuapp.com/signin" target="_blank">
          <img class="img-responsive project-image" src="qoverflow.png" alt="project name" />
        </a>
        <div class="desc col-md-8 col-sm-8 col-xs-12">
          <h3 class="title"><a href="https://qoverflow.herokuapp.com/signin" target="_blank">Qoverflow</a></h3>
          <p>Qoverflow is a mini clone of the popular Q&A site Quora. Users can post questions and answers, upvote and downvote elements. </p>
          <p>Technical Features: Comprehensive test suite with 70 test cases using Rspec + Capybara, polymorphic model association, others.</p>
          <ul class = 'project-links'>
            <li>
              <a class="more-link" href="http://eduardo-postit.herokuapp.com/" target="_blank"><i class="fa fa-external-link"></i>Visit Repo</a> 
            </li>
            <li>
              <a class="more-link" href="http://eduardo-postit.herokuapp.com/" target="_blank"><i class="fa fa-external-link"></i>Visit App</a>
            </li>
          </ul>
        </div><!--//desc-->                          
      </div><!--//item-->

      <div class="item row">
        <a class="col-md-4 col-sm-4 col-xs-12" href="https://wrapbootstrap.com/theme/delta-promote-mobile-app-effectively-WB09R23P8?ref=3wm" target="_blank">
          <img class="img-responsive project-image" src="bazaar.png" alt="project name" />
        </a>
        <div class="desc col-md-8 col-sm-8 col-xs-12">
          <h3 class="title"><a href="#" target="_blank">Bazaar</a></h3>
            <p>Bazaar is a convinient market place to sell, trade and publitize mobile phones, users can sign in to post ads or simply look around the offering.</p>
          <p>Technical Features: Agile development using Scrum and github workflow, faceted search using Elastic Search, user authentication with Devise, others.</p>
          <ul class = 'project-links'>
            <li>
              <a class="more-link" href="http://eduardo-postit.herokuapp.com/" target="_blank"><i class="fa fa-external-link"></i>Visit Repo</a> 
            </li>
            <li>
              <a class="more-link" href="http://eduardo-postit.herokuapp.com/" target="_blank"><i class="fa fa-external-link"></i>Visit App</a>
            </li>
          </ul>
        </div><!--//desc-->                          
      </div><!--//item-->

      <div class="item row">
        <a class="col-md-4 col-sm-4 col-xs-12" href="http://eduardo-postit.herokuapp.com/" target="_blank">
          <img class="img-responsive project-image" src="postit.png" alt="project name" />
        </a>
        <div class="desc col-md-8 col-sm-8 col-xs-12">
          <h3 class="title"><a href="http://eduardo-postit.herokuapp.com/" target="_blank">Post It</a></h3>
            <p>Post it allows users share ideas and news by posting links on the main forums. Post can be categorized and users can upvote or downvote alements.</p>
          <p>Technical Features: M:M and Polymorphic model associations, asynchronous features (Ajax and JQuery), basic roles, other.</p>
          <ul class = 'project-links'>
            <li>
              <a class="more-link" href="http://eduardo-postit.herokuapp.com/" target="_blank"><i class="fa fa-external-link"></i>Visit Repo</a> 
            </li>
            <li>
              <a class="more-link" href="http://eduardo-postit.herokuapp.com/" target="_blank"><i class="fa fa-external-link"></i>Visit App</a>
            </li>
          </ul>
        </div><!--//desc-->                          
      </div><!--//item-->

      <div class="item row">
        <a class="col-md-4 col-sm-4 col-xs-12" href="http://eduardo-blackjack.herokuapp.com/game" target="_blank">
          <img class="img-responsive project-image" src="blackjack.png" alt="project name" />
        </a>
        <div class="desc col-md-8 col-sm-8 col-xs-12">
          <h3 class="title"><a href="http://eduardo-blackjack.herokuapp.com/game" target="_blank">BlackJack</a></h3>
            <p>BlackJack is an interactive web-based application. Users can bet and try to beat the "house".</p>
          <p>Technical Features: Sinatra, Ajax, Boostrap, others.</p>
          <ul class = 'project-links'>
            <li>
              <a class="more-link" href="http://eduardo-postit.herokuapp.com/" target="_blank"><i class="fa fa-external-link"></i>Visit Repo</a> 
            </li>
            <li>
              <a class="more-link" href="http://eduardo-postit.herokuapp.com/" target="_blank"><i class="fa fa-external-link"></i>Visit App</a>
            </li>
          </ul>
        </div><!--//desc-->                          
      </div><!--//item-->
    </div><!--//content-->  
  </div><!--//section-inner-->                 
</section><!--//section-->
