<section class="experience section">
  <div class="section-inner">
    <h2 class="heading">Work Experience</h2>
    <div class="content">
      <div class="item">
        <h3 class="title">Research Assistant. <span class="place"><a href="http://www.chemeng.queensu.ca/">Queen's University, Kingston, Ontario</a></span> <span class="year">(2011 - 2013)</span></h3>
        <ul>
          <li>Develop analytical applications for the detection of multiple contaminants in various phases.</li>
          <li>Design and Perform partitioning experiments of more than 51 polymers and carry out the corresponding trend analysis.</li>
          <li>Design and carry out several bench-scale bio-degradation experiments at controlled conditions.</li>
          <li>Coached new members on the use of different chromatographic analytic apparatus.</li>
        </ul>
        <p>The findings of this project resulted in two original scientific publications:</p>
        <ul>
          <li><a href="http://www.sciencedirect.com/science/article/pii/S0304389413002161" target="_blank">J. Hazard. Mater., 254-255: 206-213 (2013)</a></li>
          <li><a href="http://onlinelibrary.wiley.com/doi/10.1002/jctb.4116/abstract" target="_blank">J. Chem. Technol. Biotechnol., 89: 88-96 (2014)</a></li>
        </ul>
        <p> <strong> TRANSFERABLE SKILLS: </strong> Systematic Troubleshooting | Time management | Research methodology | Leadership </p>  

      </div><!--//item-->
      <div class="item">
        <h3 class="title">Field Supervisor. <span class="place"><a href="http://www.sivensa.com.ve/index.php">SIVENSA, Caracas, Venezuela</a></span> <span class="year">(Jun-Dec 2010)</span></h3>
        <ul>
          <li>Led and motivated a team of workers and crane operators to coordinate the transportation, classification, and processing of 130 tons of scrap metal per day.</li>
          <li>Oversaw the scrap metal processing from supply to product delivery and proposed process improvements.</li>
          <li>Assess the quality of the incoming scrap-metal and determine it's corresponding compensation.</li>
        </ul>
        <p>Relevant achievements: </p>
        <ul class = 'work-desc'>
          <li>Achieved monthly scrap-metal production goals, (approximately 3200 tons), 4 times over a 6 month period.</li>
          <li>Improved overall production efficiency by approximately 20 %</li>
          <li>Achieved perfect record of zero accidents within the six month contract period.</li>
        </ul>
        <p> <strong> TRANSFERABLE SKILLS: </strong> Leadership | Work Under Pressure | Effective Communication | Performance Evaluation  </p>  
      </div><!--//item-->
    </div><!--//content-->  
  </div><!--//section-inner-->                 
</section><!--//section-->
