<section class="experience section">
  <div class="section-inner">
    <h2 class="heading">Work Experience</h2>
    <div class="content">
      <div class="item">
        <h3 class="title">Research Assistant <span class="place"><a href="#">Queen's University</a></span> <span class="year">(2011 - 2013)</span></h3>
        <p>Duties: Develop analytical applications for the detection of multiple contaminants in various phases. Study how polymer structure and properties determined polymer-contaminant interactions in water solutions. Carry out several bench- scale biodegradation experiments at controlled conditions.</p>
        <p>Some achivements included but were not limited to: </p>

        <ul class = 'work-desc'>
          <li>Developed a novel polymer-based biotechnology that improved degradation rate of contaminants in water by 98% compared to other conventional treatment strategies.  This required the design and result analysis of approximately 95 experiments.</li>
          <li>Pioneered the first rational and systematic method for selecting effective polymers for TPPB applications by identifying relevant property trends and partitioning capacities of 51 different polymers. </li>
          <li>Coached new lab members on the the proper use and maintance of chromatography equipments.</li>
        </ul>
        <p> <strong> TRANSFERABLE SKILLS: </strong> Critical Thinking | Research and Developlment | Technical Writting | Systematic Troubleshooting | Time management | </p>  

      </div><!--//item-->
      <div class="item">
        <h3 class="title">Field Supervisor <span class="place"><a href="#">SIDETUR</a></span> <span class="year">(2013 - 2014)</span></h3>
        <p>Duties: Led and motivated a team of workers and crane operators to coordinate the transportation, classification, and processing of 130 tons of scrap metal per day. Oversaw the scrap metal processing from supply to product delivery and proposed process improvements.</p>
        <p>Some achivements included but were not limited to: </p>
        <ul class = 'work-desc'>
          <li>Achieved the monthly scrap-metal production goals, (approximately 3200 tons), 4 times over a 6 month period.</li>
          <li>Proposed and implemented a logistic schedule to regulate the order of operations in the field. This schedule improved the overall production efficiency by approximately 20 %</li>
          <li>Achieved a perfect record of zero accidents within the six month contract period.</li>
        </ul>
        <p> <strong> TRANSFERABLE SKILLS: </strong> Critical Thinking | Research and Developlment | Technical Writting | Systematic Troubleshooting | Time management | </p>  
      </div><!--//item-->
    </div><!--//content-->  
  </div><!--//section-inner-->                 
</section><!--//section-->
