<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->  
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->  
<!--[if !IE]><!--> <html lang="en"> <!--<![endif]-->  
  <!-- ******HEADER****** --> 
  <header class="header">
    <div class="container">                       
      <div class="profile-content pull-left">
        <h1 class="name">Eduardo Poleo</h1>
        <h2 class="desc">Web Developer & Engineer</h2>   
        <ul class="social list-inline">
          <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
          <li><a href="#"><i class="fa fa-github-alt"></i></a></li>                  
        </ul> 
      </div><!--//profile-->
      <a class="btn btn-cta-primary pull-right" href="http://themes.3rdwavemedia.com/" target="_blank"><i class="fa fa-pencil"></i>Blog</a>              
    </div><!--//container-->
  </header><!--//header-->
  
  <div class="container sections-wrapper">
    <div class="row">
      <div class="primary col-md-8 col-sm-12 col-xs-12">
        <section class="about section">
          <div class="section-inner">
            <h2 class="heading">About Me</h2>
            <div class="content">
              <p>I am a aspiring web developmer who enjoys creating applications other people can see, use, share and modify. I am experienced in Ruby, RoR, Matlab and Python and I am currently looking for a motivating and challenging Jr. Dev position in Toronto.</p>    
              <p>If you want to know more about me and my skillset, please make sure to check my resume and/or contact me, I'll be happy to talk. Or if you just want to quickly assess my abilities please check the suggested <strong style = "color:green">code samples & articles</strong> below:</p>
                <table id='code-samples-table'>
                  <thead>
                    <tr >
                      <th width='50%'>Ruby + TDD</th>
                      <th width='50%'>Rails + TDD</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>
                        <ul class='code-samples' >
                          <li>
                            <a href="http://www.url.com" target="_blank">String-Kata Repo</a>
                          </li>
                          <li>
                            <a href="http://eduardo-blog.herokuapp.com/articles/26" target="_blank">String-Kata Blog Post</a> 
                          </li>
                        </ul>
                      </td>

                      <td>
                        <ul class='code-samples' >
                          <li>
                            <a href="http://www.url.com" target="_blank">String-Kata Repo</a>
                          </li>
                          <li>
                            <a href="http://eduardo-blog.herokuapp.com/articles/26" target="_blank">String-Kata Blog Post</a> 
                          </li>
                        </ul>
                      </td>
                    </tr>
                    
                    <tr >
                      <th>Github</th>
                      <th>Vim</th>
                    </tr>

                  </tbody>
                </table>
            </div><!--//content-->
          </div><!--//section-inner-->                 
        </section><!--//section-->

        <section class="latest section">
          <div class="section-inner">
            <h2 class="heading">Web Projects</h2>
            <div class="content">    
              <div class="item row">
                <a class="col-md-4 col-sm-4 col-xs-12" href="https://eduardo-myflix.herokuapp.com/" target="_blank">
                  <img class="img-responsive project-image" src="myflix.png" alt="project name"/>
                </a>
                <div class="desc col-md-8 col-sm-8 col-xs-12">
                  <h3 class="title"><a href="https://eduardo-myflix.herokuapp.com/" target="_blank">Myflix</a></h3>
                  <p>Myflix is a non-trivial ecommerce application, a clone of  Netflix. It allows users to watch videos on demand, queue videos and follow other users activity.</p>
                  <p>Technical features: TDD with over 200 test cases using Rspec + Capybara, social networking, random-tokens and mailers, full fledged user authentication from scratch, others.</p>
                  <p><a class="more-link" href="http://eduardo-postit.herokuapp.com/" target="_blank"><i class="fa fa-external-link"></i>Visit Repo</a></p>
                </div><!--//desc-->                          
              </div><!--//item-->

              <div class="item row">
                <a class="col-md-4 col-sm-4 col-xs-12" href="https://eduardo-check-it.herokuapp.com/" target="_blank">
                  <img class="img-responsive project-image" src="checkit.png" alt="project name" />
                </a>
                <div class="desc col-md-8 col-sm-8 col-xs-12">
                  <h3 class="title"><a href="https://eduardo-check-it.herokuapp.com/" target="_blank">Check-it</a></h3>
                  <p>Check is a todo application that helps keep track of projects and tasks. It also provides an interactive progress bar that tracks down progress as tasks are completed.</p>
                  <p>Technical features: Interactive UI elements (Ajax, JQuery), fully responsive display, simple user authentication, restful implementation, others. </p>
                  <p><a class="more-link" href="https://eduardo-check-it.herokuapp.com/" target="_blank"><i class="fa fa-external-link"></i>Visit Repo</a></p>
                </div><!--//desc-->                          
              </div><!--//item-->

              <div class="item row">
                <a class="col-md-4 col-sm-4 col-xs-12" href="https://qoverflow.herokuapp.com/signin" target="_blank">
                  <img class="img-responsive project-image" src="qoverflow.png" alt="project name" />
                </a>
                <div class="desc col-md-8 col-sm-8 col-xs-12">
                  <h3 class="title"><a href="https://qoverflow.herokuapp.com/signin" target="_blank">Qoverflow</a></h3>
                  <p>Qoverflow is a mini clone of the popular Q&A site Quora. Users can post questions and answers, upvote and downvote elements. </p>
                  <p>Technical Features: Comprehensive test suite with 70 test cases using Rspec + Capybara, polymorphic model association, others.</p>
                  <p><a class="more-link" href="https://qoverflow.herokuapp.com/signin" target="_blank"><i class="fa fa-external-link"></i>Visit Repo</a></p>
                </div><!--//desc-->                          
              </div><!--//item-->

              <div class="item row">
                <a class="col-md-4 col-sm-4 col-xs-12" href="https://wrapbootstrap.com/theme/delta-promote-mobile-app-effectively-WB09R23P8?ref=3wm" target="_blank">
                  <img class="img-responsive project-image" src="bazaar.png" alt="project name" />
                </a>
                <div class="desc col-md-8 col-sm-8 col-xs-12">
                  <h3 class="title"><a href="#" target="_blank">Bazaar</a></h3>
                    <p>Bazaar is a convinient market place to sell, trade and publitize mobile phones, users can sign in to post ads or simply look around the offering.</p>
                  <p>Technical Features: Agile development using Scrum and github workflow, faceted search using Elastic Search, user authentication with Devise, others.</p>
                  <p><a class="more-link" href="https://wrapbootstrap.com/theme/delta-promote-mobile-app-effectively-WB09R23P8?ref=3wm" target="_blank"><i class="fa fa-external-link"></i>Visit Repo</a></p>
                </div><!--//desc-->                          
              </div><!--//item-->

              <div class="item row">
                <a class="col-md-4 col-sm-4 col-xs-12" href="http://eduardo-postit.herokuapp.com/" target="_blank">
                  <img class="img-responsive project-image" src="postit.png" alt="project name" />
                </a>
                <div class="desc col-md-8 col-sm-8 col-xs-12">
                  <h3 class="title"><a href="http://eduardo-postit.herokuapp.com/" target="_blank">Post It</a></h3>
                    <p>Post it allows users share ideas and news by posting links on the main forums. Post can be categorized and users can upvote or downvote alements.</p>
                  <p>Technical Features: M:M and Polymorphic model associations, asynchronous features (Ajax and JQuery), basic roles, other.</p>
                  <p><a class="more-link" href="http://eduardo-postit.herokuapp.com/" target="_blank"><i class="fa fa-external-link"></i>Visit Repo</a></p>
                </div><!--//desc-->                          
              </div><!--//item-->

              <div class="item row">
                <a class="col-md-4 col-sm-4 col-xs-12" href="http://eduardo-blackjack.herokuapp.com/game" target="_blank">
                  <img class="img-responsive project-image" src="blackjack.png" alt="project name" />
                </a>
                <div class="desc col-md-8 col-sm-8 col-xs-12">
                  <h3 class="title"><a href="http://eduardo-blackjack.herokuapp.com/game" target="_blank">BlackJack</a></h3>
                    <p>BlackJack is an interactive web-based application. Users can bet and try to beat the "house".</p>
                  <p>Technical Features: Sinatra, Ajax, Boostrap, others.</p>
                  <p><a class="more-link" href="http://eduardo-blackjack.herokuapp.com/game" target="_blank"><i class="fa fa-external-link"></i>Visit Repo</a></p>
                </div><!--//desc-->                          
              </div><!--//item-->

            </div><!--//content-->  
          </div><!--//section-inner-->                 
        </section><!--//section-->

        <section class="projects section">
          <div class="section-inner">
            <h2 class="heading">Research Projects </h2>
            <div class="content">

              <div class="item">
                <h3 class="title"><a href="#">Bio-remediation of mixtures of toxic and volatile contantinants in water by partitioning bio-reactors.</a> <span class="label label-theme">Chemical Engineering</span></h3>
                <p class="summary">Developed a novel polymer-based technology that improved the degradation rate of contaminants in water by 98% compared to other conventional treatment strategies. This required the design and result analysis of approximately 95 experiments.</p>
                <p>The findings of this project resulted in two original scientific publications:</p>
                <ul>
                  <li>J. Hazard. Mater., 254-255: 206-213 (2013)</li>
                  <li>J. Chem. Technol. Biotechnol., 89: 88-96 (2014)</li>
                </ul>
              </div><!--//item-->

              <div class="item">
                <h3 class="title"><a href="#">Kinetic Analysis and Modeling of the Ring Opening Reaction of Decalin over a Pt-modified Zeolite Catalyst</a> <span class="label label-theme">Chemical Engineering</span></h3>
                <p class="summary"> Designed a statistically sound kinetic model for the aforementioned reaction that increased complexity and accuracy over previous models by 57 %. This contributed to a major diesel-fuel quality improvement project.</p>
              </div><!--//item-->
            </div><!--//content-->  
          </div><!--//section-inner-->                 
        </section><!--//section-->

        <section class="experience section">
          <div class="section-inner">
            <h2 class="heading">Work Experience</h2>
            <div class="content">
              <div class="item">
                <h3 class="title">Research Assistant <span class="place"><a href="#">Queen's University</a></span> <span class="year">(2011 - 2013)</span></h3>
                <p>Duties: Develop analytical applications for the detection of multiple contaminants in various phases. Study how polymer structure and properties determined polymer-contaminant interactions in water solutions. Carry out several bench- scale biodegradation experiments at controlled conditions.</p>
                <p>Some achivements included but were not limited to: </p>

                <ul class = 'work-desc'>
                  <li>Developed a novel polymer-based biotechnology that improved degradation rate of contaminants in water by 98% compared to other conventional treatment strategies.  This required the design and result analysis of approximately 95 experiments.</li>
                  <li>Pioneered the first rational and systematic method for selecting effective polymers for TPPB applications by identifying relevant property trends and partitioning capacities of 51 different polymers. </li>
                  <li>Coached new lab members on the the proper use and maintance of chromatography equipments.</li>
                </ul>

              </div><!--//item-->
              <div class="item">
                <h3 class="title">Field Supervisor <span class="place"><a href="#">SIDETUR</a></span> <span class="year">(2013 - 2014)</span></h3>
                <p>Duties: Led and motivated a team of workers and crane operators to coordinate the transportation, classification, and processing of 130 tons of scrap metal per day. Oversaw the scrap metal processing from supply to product delivery and proposed process improvements.</p>
                <p>Some achivements included but were not limited to: </p>
                <ul class = 'work-desc'>
                  <li>Achieved the monthly scrap-metal production goals, (approximately 3200 tons), 4 times over a 6 month period.</li>
                  <li>Proposed and implemented a logistic schedule to regulate the order of operations in the field. This schedule improved the overall production efficiency by approximately 20 %</li>
                  <li>Achieved a perfect record of zero accidents within the six month contract period.</li>
                </ul>
              </div><!--//item-->
            </div><!--//content-->  
          </div><!--//section-inner-->                 
        </section><!--//section-->
       </div><!--//primary-->

      <div class="secondary col-md-4 col-sm-12 col-xs-12">
         <aside class="info aside section">
            <div class="section-inner">
              <h2 class="heading sr-only">Basic Information</h2>
              <div class="content">
                <ul class="list-unstyled">
                  <li><i class="fa fa-map-marker"></i><span class="sr-only">Location:</span>Toronto, Ontario, Canada</li>
                  <li><i class="fa fa-envelope-o"></i><span class="sr-only">Email:</span><a href="#">eduardopoleo@gmail.com</a></li>
                  <li><i class="fa fa-link"></i><span class="sr-only">Website:</span><a href="#">http://www.website.com</a></li>
                </ul>
              </div><!--//content-->  
            </div><!--//section-inner-->                 
          </aside><!--//aside-->
                
          <aside class="skills aside section">
            <div class="section-inner">
              <h2 class="heading">Skills</h2>
              <div class="content">
              <p class="intro">My skillset ranges from Web development to Research and Development in the biotechnical sector.</p>
                <div class="skillset">
                  <div class="item">
                    <h3 class="level-title">Ruby &amp; RoR<span class="level-label" data-toggle="tooltip" data-placement="left" data-animation="true" title="You can use the tooltip to add more info...">Intermidiate</span></h3>
                    <div class="level-bar">
                      <div class="level-bar-inner" data-level="65%">
                      </div>                                      
                    </div><!--//level-bar-->                                 
                  </div><!--//item-->

                  <div class="item">
                    <h3 class="level-title">TDD<span class="level-label" data-toggle="tooltip" data-placement="left" data-animation="true" title="You can use the tooltip to add more info...">Intermidiate</span></h3>
                    <div class="level-bar">
                      <div class="level-bar-inner" data-level="65%">
                      </div>                                      
                    </div><!--//level-bar-->                                 
                  </div><!--//item-->

                  
                  <div class="item">
                    <h3 class="level-title">Bootstrap 3.0<span class="level-label">Intermidiate</span></h3>
                    <div class="level-bar">
                      <div class="level-bar-inner" data-level="60%">
                      </div>                                      
                    </div><!--//level-bar-->                                 
                  </div><!--//item-->
                  
                  <div class="item">
                    <h3 class="level-title">Javascript<span class="level-label">Basic</span></h3>
                    <div class="level-bar">
                      <div class="level-bar-inner" data-level="30%">
                      </div>                                      
                    </div><!--//level-bar-->                                 
                  </div><!--//item-->
                  
                  <div class="item">
                    <h3 class="level-title">R&D<span class="level-label">Expert</span></h3>
                    <div class="level-bar">
                      <div class="level-bar-inner" data-level="85%">
                      </div>                                      
                    </div><!--//level-bar-->                                 
                  </div><!--//item-->
                </div> <!-- //skillset -->              
              </div><!--//content-->  
            </div><!--//section-inner-->                 
          </aside><!--//section-->
              
          <aside class="education aside section">
            <div class="section-inner">
              <h2 class="heading">Education</h2>
              <div class="content">
                <div class="item">                      
                  <h3 class="title"><i class="fa fa-graduation-cap"></i> MSc Chemcal Engineering </h3>
                  <h4 class="university">Queen's University <span class="year">(2011-2013)</span></h4>
                  <small class = "location">
                   Kingston, Ontario, Canada 
                  </small>
                </div><!--//item-->
                <div class="item">
                  <h3 class="title"><i class="fa fa-graduation-cap"></i> BSc Chemical Engineering</h3>
                  <h4 class="university">Universidad Simon Bolivar<span class="year">(2004-2010)</span></h4>
                  <small class ="location">
                   Caracas, Venezuela 
                  </small>
                </div><!--//item-->
              </div><!--//content-->
            </div><!--//section-inner-->
          </aside><!--//section-->
                          
          <aside class="languages aside section">
            <div class="section-inner">
              <h2 class="heading">Languages</h2>
              <div class="content">
                <ul class="list-unstyled">
                  <li class="item">
                    <span class="title"><strong>English:</strong></span> <span class="level">Proffesional Proficiency
                    <br>
                    <br class="visible-xs"/><i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> </span>
                  </li><!--//item-->
                  <li class="item">
                    <span class="title"><strong>Spanish:</strong></span> <span class="level">Native Language
                    <br>
                    <br class="visible-xs"/><i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> </span>

                  </li><!--//item-->

                  
                </ul>
              </div><!--//content-->
            </div><!--//section-inner-->
          </aside><!--//section-->
              
          <aside class="blog aside section">
            <div class="section-inner">
              <h2 class="heading">Latest Blog Posts</h2>
              <p>Make sure you checkout my blog here you have the latest entries.</p>
              <div id="rss-feeds" class="content">
                <ol class="list-unstyled">
                  <%@articles.reverse.each do |article| %>
                    <%=link_to article_path(article), {:class=>"link_to-style"} do %>
                      <li class = "side-list"><%=article.title%></li>
                    <% end %>
                    <p class="side-list-date"><%= article.created_at.strftime("%b %d, %Y") %></p>
                    <br>
                  <%end%>
                </ol>
              </div><!--//content-->
            </div><!--//section-inner-->
          </aside><!--//section-->
              
          <aside class="list music aside section">
            <div class="section-inner">
              <h2 class="heading">Hobbies</h2>
              <div class="content">
                <ul class="list-unstyled">
                  <li><i class="fa fa-pencil"></i> Blogging</li>
                  <li><i class="fa fa-heart"></i> Calisthenics</li>
                  <li><i class="fa fa-gamepad"></i> Board/Video Games</li>
                  <li><i class="fa fa-file-video-o"></i> Movies</li>
                </ul>
              </div><!--//content-->
            </div><!--//section-inner-->
          </aside><!--//section-->
      </div><!--//secondary-->    
    </div><!--//row-->
  </div><!--//masonry-->
  
  <!-- ******FOOTER****** --> 
  <footer class="footer">
      <div class="container text-center">
              <small class="copyright">Eduardo Poleo @2015</small>
      </div><!--//container-->
  </footer><!--//footer-->

