<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li id="blog-link"><a href="#">BLOG</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav> <!-- end of navbar -->


<div class = 'jumbotron text-center'>
  <img id='logo' src="logo.png" alt="My Logo" height="100" width="100"/>
  <h1 id = 'myname'>Eduardo Poleo</h1>  
  <p id = 'profession'>Web Developer & Engineer</p>

  <button type="button" class="btn btn-default">
    Download Resume
  </button>
</div> <!-- end of jumbotron -->

<div class = 'row' id='abilities'>
  <div class="col-md-4 text-center"> 
    <h3 class='category'>Wireframing & Prototyping</h3>
    <ul class = 'ability-list'>
      <li>Bootstrap 3</li>
      <li>JQueryUI</li>
      <li>Balsamiq Mockups</li>
      <li>HTML5&CSS3</li>
    </ul>
  </div>

  <div class="col-md-4">
    <h3 class='category text-center'>Back-end Development</h3>
    <ul class = 'ability-list text-center'>
      <li>Ruby on Rails</li>
      <li>MVC + REST</li>
      <li>TDD (Rpec & Capybara)</li>
      <li>JQuery/Ajax</li>
      <li>SQLite3 & PostgresSQL</li>
    </ul>
  </div>
  
  <div class="col-md-4">
    <h3 class='category text-center'>Agile & Efficient Develoment</h3>
    <ul class = 'ability-list text-center'>
      <li>GitHub</li>
      <li>Scrum</li>
      <li>Pivotal Tracker</li>
      <li>Vim + Tmux</li>
    </ul>
  </div>
</div> <!-- end of ability rows  -->

<h1 id='PROJECT' class = 'text-center'>PROJECTS</h1>

<div class = 'project row'>
  <div class = 'col-md-3 col-md-offset-2 text-center light-panel'>
    <h2 class = 'project-title'>Check-it </h2>
    <img class='project-image' src="checkit.png" alt="My Logo" height="150" width="250"/>
    <p class = 'project-description'>
     Check it a un conventional todo list application that allows you create and label projects and track your project's progress. It is simple a simple application but has great functionalities</p>
  </div>

  <div class = 'col-md-3 col-md-offset-2 text-center dark-panel'>
    <h2 class = 'project-title'>Myflix </h2>
  <img class='project-image' src="checkit.png" alt="My Logo" height="150" width="250"/>
    <p class = 'project-description'>
     Myflix a a non-trivial ecommerce application that resemble Netflix. Allows users to watch videos on demand, queue videos to watch and follow other users activity.</p>
  </div>
</div>

<div class = 'project row'>
  <div class = 'col-md-3 col-md-offset-2 text-center dark-panel'>
    <h2 class = 'project-title'>Qoverflow </h2>
    <img class='project-image' src="checkit.png" alt="My Logo" height="150" width="250"/>
    <p class = 'project-description'>
     Qoverflow emulates the popular Q&A site Quora. Users can sign to get access to the forum, post questions, upvote or downvote answers.</p>
  </div>

  <div class = 'col-md-3 col-md-offset-2 text-center light-panel'>
    <h2 class = 'project-title'>Bazaar </h2>
    <img class='project-image' src="checkit.png" alt="My Logo" height="150" width="250"/>
    <p class = 'project-description'>
     It is convenient market place to sell, trade and publicize mobile phones. Users can sign in and create ads or they can simply look around the offering.</p>
  </div>
</div>

<div class = 'project row'>
  <div class = 'col-md-3 text-center col-md-offset-2 light-panel'>
    <h2 class = 'project-title'>Post-It </h2>
    <img class='project-image' src="checkit.png" alt="My Logo" height="150" width="250"/>
    <p class = 'project-description'>
     Check it a un conventional todo list application that allows you create and label projects and track your project's progress. It is simple a simple application but has great functionalities</p>
  </div>

  <div class = 'col-md-3 text-center col-md-offset-2 ark-panel'>
    <h2 class = 'project-title'>BlackJack </h2>
  <img class='project-image' src="checkit.png" alt="My Logo" height="150" width="250"/>
    <p class = 'project-description'>
    BlackJack is a interactive web-based blackjack application developed with the Sinatra web framework. </p>
  </div>
</div>
