
    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container-welcome">
        <h1 class="Hello">Hello, world!</h1>
        <p>I am a tech-enthusiast that truly enjoy learning new things. I find very rewarding to create applications other people can see, use, share and modify, and I am also delighted by how relatively simple this process is nowadays. 

        <p>I started programming by creating Matlab applications that performed rather complex numerical calculations. Currently, I have expanded my programming abilities to include other scripting languages, such as Python and Ruby, and have also dug into other areas such as Object Oriented Programming and web development.</p>

        <p>At the moment I am playing around with Ruby on Rails and Bootstrap but I am a open to contribute to any new cool project. Be sure to check my <i class="fa fa-pencil"></i> blog to know what I am up tough.</p>
      </div>
    </div>

    <div class="container-welcome">
      <!-- Example row of columns -->
      <div class="row interest-row">
        <div class="col-md-6">
          <i class="fa fa-file-code-o fa-5x interest-icon"></i>
          <h2 class="activity-headers">Programming & Development.</h2>
          <p class="activity-description">I enjoy programming and hacking into cool little projects. Right now I am looking to advance my skills in full-stack  web development but I am one email away from participating in any interesting project.</p>
        </div>
        <div class="col-md-6">
          <i class="fa fa-trophy fa-5x interest-icon"></i>
          <h2 class="activity-headers">Sports</h2>
          <p class="activity-description"> I like body-weight training especially running and calisthenics. Although I am also a soccer fan. My favorite exercise is the pull up in all its variations and my best time in 10k is 38:40 :). Btw Can you muscle up!
  
       </div>
     </div>
     <br>
     <div class="row interest-row">
        <div class="col-md-6">
          <i class="fa fa-flask fa-5x interest-icon"></i>
          <h2 class="activity-headers">Science & Others</h2>
          <p class="activity-description"> I took interest in science early in highschool and I currently hold a M.Sc in Engineering. I really enjoy well narrated nature documentaries and also read what I called pop-science books (e.g QED, History of the Universe)</p>
        </div>
        <div class="col-md-6">
          <i class="fa fa-paper-plane-o fa-5x interest-icon"></i> 
          <h2 class="activity-headers">Future endeavours</h2>
          <p class="activity-description"> I will be joining a brand new Linux introductory Course offered by the Linux Foundation next month. I am also looking forward to learn javascript more indepth</p>
        </div>
      </div>
    </div> <!-- /container -->