<div class="navbar navbar-default navbar-fixed-top" role="navigation">
      <div class="container-welcome">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Eduardo<span id="lastname">Poleo<span></a>
        </div>
        <div class="navbar-collapse collapse">
          <form class="navbar-form navbar-right" role="form">
            
            <button type="submit" class="btn btn-danger btn-right"><%= link_to "Blog", :controller => "articles", :action => "index" %></button>
          </form>
        </div><!--/.navbar-collapse -->
      </div>
</div>

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container-welcome">
        <h1>Hello, world!</h1>
        <p>I am a tech-enthusiast that truly enjoy learning new things. I find it very rewarding to create applications other people can see, use, share and modify, and I am also delighted by how relatively simple this process is nowadays. 

        <p>I started programming by creating Matlab applications that performed rather complex numerical calculations. Currently, I have expanded my programming abilities to include other scripting languages, such as Python and Ruby, and have also dug into other areas such as Object Oriented Programming and web development.</p>

        <p>At the moment I am playing around with Ruby on Rails and Bootstrap but I am a open to contribute to any new cool project. Be sure to check my <i class="fa fa-pencil"></i> blog to know more about my projects.</p>
        <p><a class="btn btn-primary btn-lg" role="button">Learn more &raquo;</a></p>
      </div>
    </div>

    <div class="container-welcome">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-6">
          <i class="fa fa-file-code-o fa-4x interest-icon"></i>
          <h2>Programming & Development.</h2>
          <p>I enjoy programming and hacking into little cool projects. I just launched my first official RoR app which was actually this Profile/blog page :). I soon will start freelancing in a couple of projects for some friends. Right now I am looking to advance my skills in full-stack  web development but I am one email away from participating in any interesting project.</p>
          <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
        </div>
        <div class="col-md-6">
          <i class="fa fa-trophy fa-4x interest-icon"></i>
          <h2>Sports</h2>
          <p>I particularly enjoy enjoy running and  I usually train for short races e.g 10k for which my best time has been 38:40 secs (not my current time tough). I also like body-weight training and my favorite exercise is the pull-up in all its variations, btw Can you muscle up!, because I can!.</p>
          <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
       </div>
     </div>
     <br>
     <div class="row">
        <div class="col-md-6">
          <i class="fa fa-flask fa-4x interest-icon"></i>
          <h2>Science & Others</h2>
          <p> took interest in science early in the school and I currently hold a M.Sc in Engineering. I really enjoy well narrated nature documentaries and also read what I called pop-science books (e.g QED, History of the Universe)</p>
          <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
        </div>
        <div class="col-md-6">
          <i class="fa fa-paper-plane-o fa-4x interest-icon"></i> 
          <h2>Future endeavours</h2>
          <p> I will soon be joining the brand new Linux Introductory course offered by the Linux foundation on the EdX platform. I am think this little toys are very cool! so I will probably be getting one of them soon enough.</p>
          <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
        </div>
      </div>
    </div> <!-- /container -->