.header-info-tech{
  background: none repeat scroll 0 0 #29475f;
}

.info-tech-content{
  font-size: 1.2em;
  margin-top: 3%;
}

#salutation-info-tech{
  font-size: 4em;
  font-weight: 200;
  color: white;  
}

#info-tech{
  font-family: "Roboto Slab",serif;
}

#qualities-info-tech{
  margin-top: 3%;  
}

.info-tech-quality-name{
  font-size: 1.3em;
  color: white;
}

.full-box-link{
  &:hover{
    text-decoration:none; 
  }
}

.inner-box{
  padding: 3%;
  color: black;
  border-radius: 3px;
  box-shadow: 5px 5px 5px #888888;
}

.inner-box-1{
  @extend .inner-box;
  background-color: rgba(162, 65, 48, 0.9);
  border: solid 1px #823426; 
  &:hover{
    background-color: rgba(137, 56, 41, 0.9)
  }
}
.inner-box-2{
  @extend .inner-box;
  background-color: rgba(217, 162, 16, 0.9);
  border: solid 1px #b98b0e;
  &:hover{
    background-color: rgba(190, 143, 14, 0.9);
  }
}
.inner-box-3{
  @extend .inner-box;
  background-color: rgba(90, 125, 65, 0.9);
  border: solid 1px #3F582E;
  &:hover{
    background-color: rgba(77, 108, 55, 0.9); 
  }
}

.info-tech-divisor{
  display: block; height: 1px;
  border: 0; border-top: 1px solid #939373;
  margin: 1em 0; padding: 0;
}

.box-title-link{
  color: white;
  &:hover{
    color: #5C8AE6;
    text-decoration: none;
  }
}

.info-tech-link{
  color: #931616;
  font-weight: 500;
  &:hover{
    color: #931616;
  }
}

#info-tech-table{
  margin-top: 3%;
  color: black;
  td, th {
    border: none; 
  }
}

#header-row-info-tech{
  color: white;
  font-size: 2em;
}

.odd-row-info-tech{
  background: none repeat scroll 0 0 rgba(41, 71, 95, 0.95);
}

.even-row-info-tech{
  background: none repeat scroll 0 0 rgba(41, 71, 95, 0.7);
}

#eduardo-poleo{
  font-family:'Helvetica';
  font-size: 1.1em;
}

