// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body{
	color:black;
	background-image:url("fresh_snow.png");
}
.jumbotron{
	background-color: #4DBCE9;
	font-family: Cabin;
	.Hello{
		font-family: Cabin;
		font-size:100px;
	}
}
.container-welcome{
	width:1200px;
	padding-right: 15px;
  	padding-left: 15px;
  	margin-right: auto;
  	margin-left: auto;
}


.btn-default{
	background-color: #D1E751;
	font-family: Cabin;

	.link-btn{
	color:black;
		&:hover{
			text-decoration:none;
		}
	}
	
}


#name{
	color:black;
}
.navbar-brand{
	text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
             0px 8px 13px rgba(0,0,0,0.1),
             0px 18px 23px rgba(0,0,0,0.1);
	color: black;
	margin-right:0;
	font-size:40px;
	font-family: Lobster;
	font-weight: 600;
	#lastname{
		color:#D1E751;
	}
}
.interest-icon{
	float: left;
	padding-right:15px;
}
.social-media{
	color:black;
	&:hover{
		text-decoration:none;
		color:#4DBCE9;
	}
}


.activity-headers{
	font-family: Lobster;
	color:black;
}
.activity-description{
	font-family:Cabin;
	font-size: 20px;
}