<div class="blog-footer">
	<a class="social-media" href="https://twitter.com/eduardopoleo">
	<span class="fa-stack fa-lg">
	  <i class="fa fa-square-o fa-stack-2x"></i>
	  <i class="fa fa-twitter fa-stack-1x"></i>
	</span>
	</a>
	<a class="social-media" href="https://www.facebook.com/eduardo.poleo.3">
	<span class="fa-stack fa-lg">
	  <i class="fa fa-square-o fa-stack-2x"></i>
	  <i class="fa fa-facebook fa-stack-1x"></i>
	</span>
	</a>
	<a class="social-media" href="http://ca.linkedin.com/pub/eduardo-poleo/56/364/a4"><span class="fa-stack fa-lg">
		  <i class="fa fa-square-o fa-stack-2x"></i>
		  <i class="fa fa-linkedin fa-stack-1x"></i>
	</span></a>

	<a class="social-media" href = "https://github.com/eduardopoleo"><span class="fa-stack fa-lg">
		  <i class="fa fa-square-o fa-stack-2x"></i>
		  <i class="fa fa-github fa-stack-1x"></i>
		</span></a>
	<p style="font-family:Cabin;">eduardopoleo@gmail.com</p>
	<p style="font-family:Cabin;">Copyright @ 2014 Eduardo Poleo</p>

    <p>
        <a href="#" style="font-family:Cabin;">Back to top</a>
    </p>
</div>

