<!DOCTYPE html>
<html>
  <%= render 'layouts/header' %>
  <body>
    <div class="container">
         <%=yield%>
    </div><!-- /.container -->
    <br>
    <%=render "layouts/footer"%>
  </body>
</html>
<!-- /, Coments and articles follow this layout -->

